# AWS S3
AWS_BUCKET_NAME=your-bucket-name
AWS_BUCKET_REGION=us-east-2
AWS_KEY_ACCESS=YOUR_AWS_ACCESS_KEY
AWS_KEY_ACCESS_SECRET=YOUR_AWS_SECRET_KEY

# Deepseek API Key
DEEPSEEK_API_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY

# OpenAI API Key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# Qdrant
QDRANT_URL=http://localhost:6333

# PostgreSQL
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# GROQ
GROQ_API_KEY=YOUR_GROQ_API_KEY

# Service
ASSISTANT_SYNC_TOKEN=YOUR_SYNC_TOKEN
ARXATEC_SERVICE_URL=http://localhost:3001