# AWS S3
AWS_BUCKET_NAME="your-bucket-name"
AWS_BUCKET_REGION="us-east-2"
AWS_KEY_ACCESS="your-aws-access-key"
AWS_KEY_ACCESS_SECRET="your-aws-secret-key"

# Deepseek API Key
DEEPSEEK_API_KEY="your-deepseek-api-key"

# OpenAI API Key  
OPENAI_API_KEY="your-openai-api-key"

# Qdrant
QDRANT_URL="http://localhost:6333"

# PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/database"

# Groq API Key
GROQ_API_KEY="your-groq-api-key"

# Service
ASSISTANT_SYNC_TOKEN="your-sync-token"
ARXATEC_SERVICE_URL="http://localhost:3001"