# AWS S3
AWS_BUCKET_NAME="your-aws-bucket-name"
AWS_BUCKET_REGION="us-east-2"
AWS_KEY_ACCESS="AKIAXXXXXXXXXXXXXXXXXXXX"
AWS_KEY_ACCESS_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Deepseek API Key
DEEPSEEK_API_URL="https://api.deepseek.com/v1"
DEEPSEEK_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# OpenAI API Key
OPENAI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Qdrant
QDRANT_URL="http://localhost:6333"

# PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/your_database"

# QROQ
GROQ_API_KEY="gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Service
ASSISTANT_SYNC_TOKEN="your-sync-token"
ARXATEC_SERVICE_URL="http://localhost:3001"